@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  width: 100vw;
}

body {
  background: rgb(225, 225, 225);
}

div.react-flow__panel.react-flow__attribution {
  opacity: 0.1;
  border-top-left-radius: 0.3rem;
}

div.react-flow__panel.react-flow__attribution a {
  color: black;
}

.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

div.react-flow__node {
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
